{% extends 'mainFront.html.twig' %}

{% block title %}Blog{% endblock %}

{% block metaDescription %}Des articles sur le quotidien d'un développeur PHP: astuces, méthodologie, tests d'outils, bibliothèques...{% endblock %}

{% block mainContent %}

    <div class="row front-content">
        <!-- Blog Entries Column -->
        <h1 class="col-12 text-center">Blog</h1>

        <h2 class="col-12 text-center">Articles</h2>

        {% if posts is not empty %}
            {% for post in posts %}
                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top post-list-header" src="{{ '/assets/uploads/'~post.fileName }}" alt="{{ post.alt }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.extract }}</p>
                        <a href="{{ '/blog/'~post.slug }}" class="btn btn-blog">Lire plus &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Publié le {{ post.date_added | date("d/m/Y") }} par
                        <a href="/profile">{{ post.author }}</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun article n'est disponible.</p>
        {% endif %}

        <!-- Pagination -->
        <p class="col-12 text-center">Page : {{ page }}</p>
        <div class="col-12 text-center">
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <button type="submit" form="blogList" formaction="{{ '/blog/?page='~prevPage }}"
                            class="page-link {{ enableClass(prevPage) }}">&larr; Older</button>
                </li>
                <li class="page-item">
                    <button type="submit" form="blogList" formaction="{{ '/blog/?page='~nextPage }}"
                            class="page-link {{ enableClass(nextPage) }}">Newer &rarr;</button>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block sideBar %}
    {% include 'Widgets/widgetPostsListsSort.html.twig' %}
    {% include 'Widgets/widgetSocialNetworks.html.twig' %}
    {% include 'Widgets/widgetLastPosts.html.twig' %}
{% endblock %}

