{% extends 'mainFront.html.twig' %}

{% block title %}Mon Profile{% endblock %}

{% block metaDescription %}Vous cherchez un développeur PHP / Symfony,
    alors venez voir mon site et contactez-moi, je suis toujours à la recherche de nouveaux projets.{% endblock %}

{% block mainContent %}

    <!-- Profile Content Column -->
    <div class="row front-content">

        <div id="avatar" class="col-4 offset-4" style="background-image: url({{ ('/assets/uploads/'~avatar.fileName) | defaultAvatar }});"></div>

        <h3 id="ownerName" class="col-12 text-center">{{ profile.firstName }} {{ profile.lastName | defaultProfileName }}</h3>

        <p id="baseline" class="col-12 text-center">{{ profile.baseline | defaultBaseline}}</p>

        <div id="introduction" class="col-12">{{ profile.introduction | defaultIntroduction | raw }}</div>

        <p class="col-6 text-center link-btn"><a class="btn btn-blog" href="/contact" target="_blank">Contact</a></p>

        <p class="col-6 text-center link-btn"><a class="btn btn-blog" href={{ resume.fileName }} target="_blank">CV</a></p>

    </div>

{% endblock %}

