{% extends 'mainAdmin.html.twig' %}

{% block title %}Admin - Modifier Article{% endblock %}

{% block mainContent %}

<div class="row admin-content">

    {% block h1Title %}<h1 class="col-12 text-center">Modifier l'article : {{ post.title }}</h1>{% endblock %}

    {% block h2Title %}<h2 class="col-12 text-center mt-4 mt-md-5">Par {{ post.author }} ,
        dernière modification le {{ post.date_modified }}</h2>{% endblock %}

    <form action="/admin/posts/post-0" method="post" id="postForm" class="col-12 col-md-10 offset-md-1
    admin-form" enctype="multipart/form-data">

        <div id="postSectionInfo" class="row form-section ">
            <div class="form-group col-12 col-md-10 offset-md-1">
                <label for="author" class="col-12">Auteur</label>
                <input id="author" type="text" name="author" class="col-12 form-control"
                       value ="{{ post.author }}" readonly>
            </div>

            <div class="form-group col-12 col-md-10 offset-md-1">
                <label for="title" class="col-12">Titre</label>
                <input id="title" type="text" name="title" class="col-12 form-control" value={{ post.title }}>
            </div>
        </div>

        <div id="postSectionText" class="row form-section ">
            <div class="form-group col-12 col-md-10 offset-md-1">
                <label for="extract" class="col-12">Extrait / Meta</label>
                <textarea id="extract" name="extract" class="col-12 form-control" rows="5">{{ post.extract }}</textarea>
            </div>

            <div class="form-group col-12 col-md-10 offset-md-1">
                <label for="content" class="col-12">Contenu</label>
                <textarea id="content" name="content" class="col-12 form-control tiny-area" rows="30">{{ post.content }}
                </textarea>
            </div>
        </div>

        <div id="postSectionMainImage" class="row form-section d-flex align-items-center ">

            <div class="col-12 col-md-2">
                <div class="row">
                    <p class="col-12">Image du post</p>
                    <div id="adminPostHeader" class="col-12 imageDiv" style="background-image: url({{ post.fileName }});
                            background-size: cover"></div>
                </div>
            </div>

            <div class="col-12 col-md-10">
                <div class="form-group col-12 col-md-10 offset-md-1">
                    <label for="mainImageFile" class="col-12">Télécharger un fichier</label>
                    <input type="hidden" name="MAX_FILE_SIZE" value="300000" />
                    <input id="mainImageFile" name="mainImageFile" type="file" class="col-12 form-control">
                    <div id="mainImageFile" class="col-12">Fichier actuel : {{ post.originalName }}</div>
                </div>
            </div>
        </div>

        <div id="postSectionStatus" class="row form-section ">
            <div class="form-group col-12 text-center">
                <p>
                    <label for="check-visible">Actuellement : {{ post.status }}</label>
                </p>
                <p><span class="font-italic">Changer le statut : </span>
                    <input id="check-visible" type="checkbox" name="status" value=1 data-toggle="toggle"
                           data-offstyle="dark">
                </p>
            </div>
        </div>

        <div id="postSectionSubmit" class="row form-section">
            <div class="col-10 offset-1">
                <div class="form-submit">
                    <p><button type="submit" class="btn btn-success">Enregistrer</button></p>
                    <p><button type="submit" class="btn btn-danger" formaction="/admin/posts/remove={{ post.id }}"
                                                       formmethod="post">Supprimer</button></p>
                    <p><button type="submit" class="btn btn-secondary" formaction="/admin/">Retour</button></p>
                </div>
            </div>

        </div>
    </form>

</div>

{% endblock %}
